.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 1.5rem 1rem;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
  text-align: center;
}
.cookie-consent-banner p {
    color: white;
}

.cookie-consent-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
}

.cookie-consent-buttons button {
  background-color: #28a745;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.cookie-consent-buttons button:nth-child(2) {
    background:transparent;
    border: 1px solid rgb(124, 124, 124);
      padding: 0.6rem 1.2rem;

}

.cookie-consent-buttons a {
  color: white;
  text-decoration: none;
  font-size:12px;

}
