.DIY-hero {
    margin-top: 30px;
    padding: 0 60px;
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
    justify-content: space-between;

}

.DIY-hero .DIY-hero-left h2 {
    margin: 40px 0 20px 0;
}

.DIY-hero .DIY-hero-left h3 {
    margin-bottom: 20px;
}

.DIY-hero .DIY-hero-right .image {
    width: 700px;
}

.DIY-hero .DIY-hero-right .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}





.why-diy {
    padding: 0 60px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-diy .section-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.why-diy .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
}

.why-diy .materijali {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

}

.alat-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    transition: 0.3s ease;
}

.alat-card:hover {
    transform: scale(1.01);
}

.alat-card .image {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.alat-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    filter: brightness(0.8);
}

.alat-card .opis h3 {
    font-size: 20px;
    font-weight: bold;
}

.alat-card .opis h3,
.alat-card .opis p {
    color: white;
}

.materijali-head {
    margin-bottom: 30px;
}

.prednosti {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.prednosti h2 {
    text-align: center;
    padding: 0 60px;

}

.prednosti h3:not(.prednosti .prednosti-card-container .prednosti-card h3) {
    margin-bottom: 20px;
    text-align: center;
}

.prednosti .prednosti-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    width: 100%;
    padding: 0 60px;

}

.prednosti .prednosti-card-container .prednosti-card {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--tetriary-color);
    border-radius: 12px;
}

.prednosti .prednosti-card-container .prednosti-card .image {
    color: white;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.prednosti .prednosti-card-container .prednosti-card h3 {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 500;
}

.prednosti .prednosti-card-container .prednosti-card h3,
.prednosti .prednosti-card-container .prednosti-card p {
    text-align: center;
}

.prednosti .prednosti-card-container .prednosti-card span {
    font-size: 14px;
    font-weight: 300;
    color: rgb(170, 170, 170);
}

.prednosti .prednosti-card-container .prednosti-card p {
    margin-bottom: 20px;
}







.vodic {
    margin: 0 80px 80px 80px;
    font-family: "Raleway", sans-serif;
}

.vodic-title {
    text-align: center;
}

.vodic-subtitle {
    text-align: center;
}


.vodic .vodic-container {
    background-color: var(--tetriary-color);
    padding: 20px 40px;
    border-radius: 12px;
}

.vodic .vodic-container h2 {
    color: var(--text-color);
    font-size: 24px;
}

.margin {
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(147, 147, 147);
}

.vodic .vodic-container .surface-picker {
    display: flex;
    margin-bottom: 12px;
}

.vodic .vodic-container .surface-picker .surface {
    flex: 1;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    padding: 12px;
    transition: 0.3s ease color;
    border-radius: 12px;
    color: var(--text-color);
}

.vodic .vodic-container .surface-picker .surface:hover {
    color: var(--main-color);
}



.vodic .vodic-container .surface-picker .surface.surface-active {
    background-color: white;
}


.tips {
    margin-bottom: 40px;
    background-color: rgba(141, 210, 111, 0.3);
    padding: 20px;
    border-radius: 12px;
}

.tips h3 {
    color: var(--main-color);
}




.accordion {
    font-family: "Raleway", sans-serif;
}

.accordion button {
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
    padding-bottom: 10px;
}





.accordion .accordion-content {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;


}

.accordion .accordion-content .accordion-step {
    flex: 1;
    flex-basis: 300px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.accordion .accordion-content .accordion-step img {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.accordion .accordion-content .accordion-step p {
    margin-bottom: 10px;
}














.faq-accordion {
    margin-top: 40px;
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
}

.faq-accordion h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 500;
}

.faq-item {
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.faq-question {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.faq-answer {
    padding: 0 0 10px 0;
    color: #444;
    font-size: 15px;
}




























@media (max-width:1200px) {
    .DIY-hero {
        flex-direction: column;
    }

    .DIY-hero .DIY-hero-right {
        display: flex;
        justify-content: center;
    }

    .DIY-hero .DIY-hero-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .DIY-hero .DIY-hero-left h2,
    .DIY-hero .DIY-hero-left h3 {
        text-align: center;
    }

    .why-diy .card-container {
        display: flex;
        overflow: auto;
        gap: 50px;
    }

    .why-diy .card-container .alat-card {
        min-width: 300px;
        margin-top: 10px;
        height: 200px;
        padding: 10px;

    }
}




@media (max-width: 600px) {
    .DIY-hero .DIY-hero-right .image {
        width: 100%;
    }

    .DIY-hero {
        padding: 0 10px;
        margin-top: 0;
    }

    .why-diy,
    .prednosti .prednosti-card-container,
    .prednosti h2,
    .prednosti h3 {
        padding: 0 10px;
    }



    .DIY-hero .DIY-hero-left h2 {
        margin-top: 20px;
    }


    .DIY-hero .DIY-hero-left h2 {
        font-size: 30px;
    }

    .why-diy .card-container .alat-card {
        padding: 6px;
    }
}

@media (max-width: 450px) {
    .prednosti .prednosti-card-container {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }

}