.logo-svg {
    width: 200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
}

.navbar .nav-links {
    display: flex;
    gap: 50px;
}

.navbar .nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.3s ease color, 0.3s ease border-bottom;
    border-bottom: 1px solid transparent;
}

.navbar .nav-links a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.navbar .menu {
    transition: 0.3s ease;
    cursor: pointer;
    display: none;
}

.navbar .menu:hover {
    color: var(--main-color)
}




@media (max-width:1010px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .menu {
        display: block;
    }
}

@media (max-width:450px) {
    .navbar {
        padding: 12px 10px;
    }
}