.proizvodi-hero {
    margin-top: 30px;
    padding: 0 60px;
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
    justify-content: space-between;

}

.proizvodi-hero .proizvodi-hero-left h2 {
    margin: 40px 0 20px 0;
}

.proizvodi-hero .proizvodi-hero-left h3 {
    margin-bottom: 20px;
}

.proizvodi-hero .proizvodi-hero-right .image {
    width: 700px;
}

.proizvodi-hero .proizvodi-hero-right .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.proizvodi-listing {
    padding: 0 60px;
    display: flex;
    width: 100%;
    gap: 20px;
}

.proizvodi-listing .section-tt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.proizvodi-listing .section-tt .icon {
    color: var(--main-color);
    transition: 0.3s ease color;
    cursor: pointer;
    display: none;
}

.proizvodi-listing .section-tt .icon:hover {
    color: var(--main-color-dark);
}

.proizvodi-listing .section-tt h3 {
    color: var(--main-color);
    font-size: 28px;
}

.proizvodi-listing .proizvodi {
    width: 80%;
}

.proizvodi-listing .proizvodi .proizvodi-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding: 12px;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card {
    width: 100%;
    padding: 0 10px;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card .image {
    width: 100%;
    height: auto;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card h3 {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 500;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card a {
    color: var(--main-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: 0.3s ease color;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card a:hover {
    color: var(--main-color-dark);
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filterbar {
    display: flex;
    flex-direction: column;
    border-left: 1px solid lightgray;
    padding: 0 10px;
    height: fit-content;
}

.filterbar h3 {
    color: var(--main-color);
    font-weight: 500;
}

.filterbar form {
    margin-top: 10px;
}

.filterbar form input[type="checkbox"] {
    accent-color: var(--main-color);
}

.filterbar form label {
    display: flex;
    width: fit-content;
    gap: 6px;
}

.filterbar form h4 {
    margin: 10px 0;
    font-weight: 500;
    color: var(--text-color)
}

.filterbar form .leftoright {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex: 1 0 70px;
}

.filterbar form .buttons {
    justify-content: start;
    gap: 20px;
    margin-top: 10px;
}

.filterbar form .buttons .form-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.filterbar form .buttons .form-button-secondary {
    padding: 10px;
    color: var(--main-color);
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    border: 2px solid var(--main-color);
    font-weight: 500;
    background-color: transparent;
}

@media (max-width:1200px) {
    .proizvodi-hero {
        flex-direction: column;
    }

    .proizvodi-hero .proizvodi-hero-right {
        display: flex;
        justify-content: center;
    }

    .proizvodi-hero .proizvodi-hero-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proizvodi-hero .proizvodi-hero-left h2,
    .proizvodi-hero .proizvodi-hero-left h3 {
        text-align: center;
    }
}

@media (max-width: 960px) {
    .proizvodi-listing .proizvodi {
        width: 100%;
    }

    .proizvodi-listing .section-tt .icon {
        display: block;
    }

    .filterbar {
        display: none;
    }

    .modal-overlay .modal-content .filterbar {
        display: flex;
        border-left: none;
    }
}

@media (max-width: 600px) {
    .proizvodi-hero .proizvodi-hero-right .image {
        width: 100%;
    }

    .proizvodi-hero {
        padding: 0 10px;
        margin-top: 0;
    }

    .proizvodi-listing {
        padding: 0 10px;
    }

    .proizvodi-hero .proizvodi-hero-left h2 {
        margin-top: 20px;
    }


    .proizvodi-hero .proizvodi-hero-left h2 {
        font-size: 30px;
    }

    .proizvodi-listing .section-tt h3 {
        font-size: 24px;
    }
}