.proizvodi-hero {
  margin-top: 30px;
  padding: 0 60px;
  display: flex;
  gap: 50px;
  margin-bottom: 80px;
  justify-content: space-between;
}

.proizvodi-hero .proizvodi-hero-left h2 {
  margin: 40px 0 20px 0;
}

.proizvodi-hero .proizvodi-hero-left h3 {
  margin-bottom: 20px;
}

.proizvodi-hero .proizvodi-hero-right .image {
  width: 700px;
}

.proizvodi-hero .proizvodi-hero-right .image img {
  width: 100%;
  min-height: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.proizvodi-listing {
  padding: 0 60px;
  display: flex;
  width: 100%;
  gap: 20px;
}

.proizvodi-listing .section-tt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.proizvodi-listing .section-tt .icon {
  color: var(--main-color);
  transition: 0.3s ease color;
  cursor: pointer;
  display: none;
}

.proizvodi-listing .section-tt .icon:hover {
  color: var(--main-color-dark);
}

.proizvodi-listing .section-tt h3 {
  color: var(--main-color);
  font-size: 28px;
}

.proizvodi-listing .proizvodi {
  width: 100%;
  position: relative;
}

.proizvodi-listing .proizvodi .proizvodi-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 12px;
  position: relative;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  min-width: 300px;
  border: 1px solid black;
  border: 1px solid rgba(211, 211, 211, 0.2);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  transition: 0.3s ease;
}
.proizvodi-listing
  .proizvodi
  .proizvodi-container
  .proizvodi-card
  .discount-tag {
  position: absolute;
  right: 6px;
  color: var(--main-color);
  display: flex;
  align-items: end;
  top: 0;
  gap: 4px;
}
.proizvodi-listing
  .proizvodi
  .proizvodi-container
  .proizvodi-card
  .discount-tag
  p {
  color: var(--main-color);
  font-weight: 800;
  font-size: 18px;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card .image {
  width: 100%;
  height: auto;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card h3 {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 500;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card a {
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
  transition: 0.3s ease color;
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card a:hover {
  color: var(--main-color-dark);
}

.proizvodi-listing .proizvodi .proizvodi-container .proizvodi-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .proizvodi-hero {
    flex-direction: column;
  }

  .proizvodi-hero .proizvodi-hero-right {
    display: flex;
    justify-content: center;
  }

  .proizvodi-hero .proizvodi-hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .proizvodi-hero .proizvodi-hero-left h2,
  .proizvodi-hero .proizvodi-hero-left h3 {
    text-align: center;
  }
}

@media (max-width: 960px) {
  .proizvodi-listing .proizvodi {
    width: 100%;
  }

  .proizvodi-listing .section-tt .icon {
    display: block;
  }
}

@media (max-width: 600px) {
  .proizvodi-hero .proizvodi-hero-right .image {
    width: 100%;
  }

  .proizvodi-hero {
    padding: 0 10px;
    margin-top: 0;
  }

  .proizvodi-hero .proizvodi-hero-left h2 {
    margin-top: 20px;
  }

  .proizvodi-hero .proizvodi-hero-left h2 {
    font-size: 30px;
  }

  .proizvodi-listing {
    padding: 0 10px;
  }

  .proizvodi-listing .section-tt h3 {
    font-size: 24px;
  }
}
