.projekt-hero {
    margin-top: 30px;
    padding: 0 60px;
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
    justify-content: space-between;

}

.projekt-hero .projekt-hero-left h2 {
    margin: 40px 0 20px 0;
}

.projekt-hero .projekt-hero-left h3 {
    margin-bottom: 20px;
}

.projekt-hero .projekt-hero-right .image {
    width: 700px;
}

.projekt-hero .projekt-hero-right .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.projekt-hero .projekt-hero-left .karakt p {
    margin-bottom: 8px;
}

.projekt-hero .projekt-hero-left .karakt p a {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s ease color;
}

.projekt-hero .projekt-hero-left .karakt p a:hover {
    color: var(--main-color-dark)
}














@media (max-width:1200px) {
    .projekt-hero {
        flex-direction: column;
    }

    .projekt-hero .projekt-hero-right {
        display: flex;
        justify-content: center;
    }

    .projekt-hero .projekt-hero-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projekt-hero .projekt-hero-left h2,
    .projekt-hero .projekt-hero-left h3 {
        text-align: center;
    }
}


@media (max-width: 600px) {
    .proizvodi-hero .proizvodi-hero-right .image {
        width: 100%;
    }

    .proizvodi-hero {
        padding: 0 10px;
        margin-top: 0;
    }


    .proizvodi-hero .proizvodi-hero-left h2 {
        margin-top: 20px;
    }


    .proizvodi-hero .proizvodi-hero-left h2 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .projekt-hero .projekt-hero-right .image {
        width: 100%;
    }

    .projekt-hero {
        padding: 0 10px;
        margin-top: 0;
    }


    .projekt-hero .projekt-hero-left h2 {
        margin-top: 20px;
    }


    .projekt-hero .projekt-hero-left h2 {
        font-size: 30px;
    }

}